header {
    background-color: var(--background-secondary);
    height: 70px;
}

.wrapper {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
    box-sizing: border-box;
}

.logo {
    width: 100%;
}