.wrapper {
    padding: 0 1rem;
    box-sizing: border-box;
}

h1 {
    color: var(--text-color);
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: .3em;
}

p {
    color: var(--text-color);
    font-size: 1.2em;
    margin-top: 0;
}