:host {
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
}

.view {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    min-height: 100vh;

    &--start {
        background-image: url(../assets/car.png);
        background-size: auto 100%;
        background-position: 100% 0;
        background-repeat: no-repeat;

        @media screen and (max-width: 720px) {
            background-position: calc(100% + 350px) 0;
        }

        .wrapper {
            padding-top: 5vw;
        }
    }

    &--offer {
        background-color: var(--background-secondary);
        justify-content: center;
        align-items: center;
    }
}