<section class="view view--start ">
    <app-header></app-header>
    <div class="wrapper">
        <app-title></app-title>
        <app-call></app-call>
    </div>
</section>
<div class="view view--offer">
    <div class="wrapper">
        <app-offer></app-offer>
    </div>
</div>
<section class="view view--payments">
    <div class="wrapper">
        <app-payments></app-payments>
    </div>
</section>
<section class="view view--contact">
    <div class="wrapper">
        <app-contact></app-contact>
    </div>
</section>
