<h2 *ngIf="header" class="header">
    {{header}}
</h2>
<p *ngIf="text" class="text">
    {{text}}
</p>

<div class="scroll">
    <div class="scroll__item" *ngFor="let offer of offers">
        <section class="card" (click)="scrollTo($event)">

            <h3 class="title">
                <div class="icon">
                    <mat-icon>{{offer.Header.Icon}}</mat-icon> 
                </div>
                {{offer.Header.Title}}
            </h3>
        
            <ul class="list">
                <li class="list__item" *ngFor="let point of offer.Points">
                    {{point}}
                </li>
            </ul>
            <button
                mat-button
                color="accent"
                type="button"
                class="more"
                (click)="toggleClass($event, 'expand')">
                <mat-icon>expand_more</mat-icon>
                Więcej
            </button>
            <button
                mat-button
                color="accent"
                type="button"
                class="less"
                (click)="toggleClass($event, 'expand')">
                <mat-icon>expand_less</mat-icon>
                Mniej
            </button>
        </section>
    </div>
</div>
