.card {
    color: var(--text-color);
    position: relative;
    & ::ng-deep {
        .mat-icon {
            font-size: 3em;
            margin-right: .25em;
            width: initial;
            height: initial;
        }
    }
}

.background {
    & ::ng-deep {
        .mat-icon {
            font-size: 50em;
            width: initial;
            height: initial;
            position: absolute;
            top: 0;
            right: 0;
            color: var(--background-secondary);
        }
    }
}