.wrapper {
    // text-align: center;
}

.phone {
    color: var(--accent);
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
}

.cta {
    margin: 1rem;
}

button {
    border-radius: 30px;
    font-size: 1rem;
}