@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', "Helvetica Neue", sans-serif; }

@import './scss/variables';
@import './scss/theme.scss';
@import './scss/shared.scss';

html {
    background-color: var(--background-primary);
}